* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1b1b;
  overflow-x: hidden;
}
#app {
  width: 85%;
  margin: auto;
}
.content {
  height: 100vh;
  padding: 20px;
}
.parent {
  perspective: 1000px;
  height: 400px;
  width: 400px;
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  transition: all 3s ease;

  background: rgba(4, 4, 4, 0.5);
}
.cube-anime {
  transform: rotateX(40deg);
}
.nav {
  min-height: 30vh;
}
